<header class="nav">
  <div class="logo">
    <a href="/"><h2>Mini Message</h2></a>
  </div>
  <ul class="nav-items">
    <li>
      <a href="/" class="<%= currPath === '/' ? 'active' : '' %>">Home</a>
    </li>
    <li>
      <a href="/about" class="<%= currPath === '/about' ? 'active' : '' %>"
        >About</a
      >
    </li>

    <% if (!user) { %>
    <li>
      <a
        href="/auth/sign-up"
        class="<%= currPath === '/auth/sign-up' ? 'active' : '' %>"
        >SignUp</a
      >
    </li>
    <li>
      <a
        href="/auth/login"
        class="<%= currPath === '/auth/login' ? 'active' : '' %>"
        >LogIn</a
      >
    </li>
    <% } %> <% if (user) { %>
    <li>
      <a
        href="/messages/new"
        class="<%= currPath === '/messages/new' ? 'active' : '' %>"
        >new message</a
      >
    </li>
    <li>
      <a href="/auth/logout">logout</a>
    </li>
    <% } %>
  </ul>
</header>
