<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <%- include("partials/nav") %>
    <section>
      <h1><%= title %></h1>
      <form action="/messages/new" method="POST">
        <textarea
          name="message"
          placeholder="Message"
          autocomplete="off"
          rows="10"
          cols="50"
        >
<%= typeof message !== 'undefined' ? message : '' %></textarea
        >

        <% const messageError = errors.find(e => e.path === 'message') %> <% if
        (messageError){ %>
        <div class="error-summary">
          <p class="error-msg"><%= messageError.msg %></p>
        </div>
        <% } %>
        <button type="submit">Add Message</button>
      </form>
    </section>
  </body>
</html>
